<!doctype html>
<html>

<head>
    <title>BLAH Project</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {{!-- google js library for sign in functions --}}

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    {{!-- our api id for the google sign in don't delete --}}
    <meta name="google-signin-client_id" content="824863534750-5lj7cqpnq6tksj2ge7l9uic0ae6drq8j.apps.googleusercontent.com">

    {{!-- ck editor code --}}
    <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>

    {{!-- Custome CSS and Javascript --}}
    <link rel="stylesheet" href="/css/stylesheet.css">

    <link rel="stylesheet" href="/css/profile.css">

    <script src="/js/global.js"></script>

    {{!-- Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat" rel="stylesheet">



</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <br>
        <br>

        <a>
            <h4 style="color: #7F725B; font-family: 'Libre Baskerville', sans-serif ;"> Quill </h4>
        </a>


        {{#if loggedInUser}}

        <div style="margin-top: 30%; ">
            <a href="/profile">View Profile</a>
            <a href="/">Home</a>
            <a href="/profile/logout">Logout</a>
        </div>

        {{else}}

        <div style="margin-top: 30%; ">
            <a data-toggle="modal" data-target="#loginModal" href="#">Login</a>
            <a data-toggle="modal" data-target="#signupModal" href="#">Signup</a>
            <a href="/">Home</a>
            <a href="/about">About Quill</a>
        </div>


        {{/if}}


    </div>


    <div class="topnav">

        <!-- Centered link -->
        <div class="topnav-centered">
            <a  href="/" class="active"><img id="logoImg" class="logo" src="/images/icons/Feather.png"></a>
        </div>

        <!-- Left-aligned links (default) -->
        <a href="#" id="menuBtn" style="color: #7F725B; font-size: 24pt;" onclick="openNav()">&#9776;</a>


        <!-- Right-aligned links -->
        <div class="topnav-right">
            <div class="dropdown">
                {{#if loggedInUser}}
                <a href="/profile"><img class="avatar" src="{{loggedInUser.avatar}}" alt="avatar" style=" cursor: pointer;">
                </a>
                {{/if}}
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5 mainBody" id="main" style="margin-left: 0px; ">
        {{{body}}}
    </div>

    {{!-- The Add Article Button on bottom right --}}
    {{#if loggedInUser}}
    <a href="#" data-toggle="modal" data-target="#addArticleModal"><img src="/images/icons/plus.png" alt="postArticleBtn"
            id="postArticleBtn" style="position: fixed; bottom: 25px; right: 25px; wdith: 6%; height: 6%; border-radius: 50%; cursor: pointer;">
    </a>
    {{/if}}


    {{!-- The signUp Modal --}}
    <div id="signupModal" class="fade modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Signup!</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <form action="/profile/signup" method="POST" id="signupForm" enctype="multipart/form-data">
                        <div>
                            <p id="usernameErrorMsg"></p>
                            <p id="passwordErrorMsg"></p>
                        </div>
                        <!--username field-->
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="text" placeholder="Enter a Unique Username" class="form-control" id="newUsername"
                                    name="newUsername" pattern="[A-Za-z0-9-_\S]{4,12}" title="Usernames must be between 4 to 10 characters long and cannot contain any special characters other than - or _"
                                    onkeyup="checkUser()" requried>
                            </div>
                        </div>
                        <!--firstname field-->
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="text" placeholder="Enter First Name" class="form-control" id="fname" name="fname"
                                    pattern="[A-Za-z\S][^0-9!@#$%^&*()_]{1,12}" title="Please enter alphanumeric characters with out spaces"
                                    required>
                            </div>
                        </div>
                        <!--lastname field-->
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="text" title="Please enter alphanumeric characters with out spaces"
                                    placeholder="Enter Last Name" class="form-control" id="lname" name="lname" pattern="[A-Za-z\S][^0-9!@#$%^&*()_]{1,12}"
                                    required>
                            </div>
                        </div>
                        <!--password field-->
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="password" placeholder="Enter Password" class="form-control" id="psw" name="psw"
                                    title="Passwords can only be between 4 and 12 characters without spaces" pattern="[\S]{4,12}"
                                    required>
                            </div>
                        </div>
                        <!--password field-->
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="password" placeholder="Confirm Password" class="form-control" id="psw-repeat"
                                    title="Passwords can only be between 4 and 12 characters without spaces" name="psw-repeat"
                                    pattern="[A-Za-z0-9!@#$%^&*()-_\S]{4,12}" onkeyup="checkPass()" requried>
                            </div>
                        </div>
                        <!--date of birth-->
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="date" placeholder="Enter Date Of Birth" class="form-control" id="dob" name="dob"
                                    min="1900-01-01" max="2001-12-31" required>
                                <script>
                                    $("#dob").validate();
                                </script>
                            </div>
                        </div>
                        <!--country selector-->
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <select name="country" required>
                                    <option value=""> </option>
                                    <option value="Afghanistan"> Afghanistan </option>
                                    <option value="Albania"> Albania </option>
                                    <option value="Algeria"> Algeria </option>
                                    <option value="American Samoa"> American Samoa </option>
                                    <option value="Andorra"> Andorra </option>
                                    <option value="Angola"> Angola </option>
                                    <option value="Anguilla"> Anguilla </option>
                                    <option value="Antigua and Barbuda"> Antigua and Barbuda </option>
                                    <option value="Argentina"> Argentina </option>
                                    <option value="Armenia"> Armenia </option>
                                    <option value="Aruba"> Aruba </option>
                                    <option value="Australia"> Australia </option>
                                    <option value="Austria"> Austria </option>
                                    <option value="Azerbaijan"> Azerbaijan </option>
                                    <option value="The Bahamas"> The Bahamas </option>
                                    <option value="Bahrain"> Bahrain </option>
                                    <option value="Bangladesh"> Bangladesh </option>
                                    <option value="Barbados"> Barbados </option>
                                    <option value="Belarus"> Belarus </option>
                                    <option value="Belgium"> Belgium </option>
                                    <option value="Belize"> Belize </option>
                                    <option value="Benin"> Benin </option>
                                    <option value="Bermuda"> Bermuda </option>
                                    <option value="Bhutan"> Bhutan </option>
                                    <option value="Bolivia"> Bolivia </option>
                                    <option value="Bosnia and Herzegovina"> Bosnia and Herzegovina </option>
                                    <option value="Botswana"> Botswana </option>
                                    <option value="Brazil"> Brazil </option>
                                    <option value="Brunei"> Brunei </option>
                                    <option value="Bulgaria"> Bulgaria </option>
                                    <option value="Burkina Faso"> Burkina Faso </option>
                                    <option value="Burundi"> Burundi </option>
                                    <option value="Cambodia"> Cambodia </option>
                                    <option value="Cameroon"> Cameroon </option>
                                    <option value="Canada"> Canada </option>
                                    <option value="Cape Verde"> Cape Verde </option>
                                    <option value="Cayman Islands"> Cayman Islands </option>
                                    <option value="Central African Republic"> Central African Republic </option>
                                    <option value="Chad"> Chad </option>
                                    <option value="Chile"> Chile </option>
                                    <option value="People &#x27;s Republic of China"> People &#x27;s Republic of China
                                    </option>
                                    <option value="Republic of China"> Republic of China </option>
                                    <option value="Christmas Island"> Christmas Island </option>
                                    <option value="Cocos(Keeling) Islands"> Cocos(Keeling) Islands </option>
                                    <option value="Colombia"> Colombia </option>
                                    <option value="Comoros"> Comoros </option>
                                    <option value="Congo"> Congo </option>
                                    <option value="Cook Islands"> Cook Islands </option>
                                    <option value="Costa Rica"> Costa Rica </option>
                                    <option value="Cote d&#x27;Ivoire"> Cote d&#x27;Ivoire </option>
                                    <option value="Croatia"> Croatia </option>
                                    <option value="Cuba"> Cuba </option>
                                    <option value="Cyprus"> Cyprus </option>
                                    <option value="Czech Republic"> Czech Republic </option>
                                    <option value="Denmark"> Denmark </option>
                                    <option value="Djibouti"> Djibouti </option>
                                    <option value="Dominica"> Dominica </option>
                                    <option value="Dominican Republic"> Dominican Republic </option>
                                    <option value="Ecuador"> Ecuador </option>
                                    <option value="Egypt"> Egypt </option>
                                    <option value="El Salvador"> El Salvador </option>
                                    <option value="Equatorial Guinea"> Equatorial Guinea </option>
                                    <option value="Eritrea"> Eritrea </option>
                                    <option value="Estonia"> Estonia </option>
                                    <option value="Ethiopia"> Ethiopia </option>
                                    <option value="Falkland Islands"> Falkland Islands </option>
                                    <option value="Faroe Islands"> Faroe Islands </option>
                                    <option value="Fiji"> Fiji </option>
                                    <option value="Finland"> Finland </option>
                                    <option value="France"> France </option>
                                    <option value="French Polynesia"> French Polynesia </option>
                                    <option value="Gabon"> Gabon </option>
                                    <option value="The Gambia"> The Gambia </option>
                                    <option value="Georgia"> Georgia </option>
                                    <option value="Germany"> Germany </option>
                                    <option value="Ghana"> Ghana </option>
                                    <option value="Gibraltar"> Gibraltar </option>
                                    <option value="Greece"> Greece </option>
                                    <option value="Greenland"> Greenland </option>
                                    <option value="Grenada"> Grenada </option>
                                    <option value="Guadeloupe"> Guadeloupe </option>
                                    <option value="Guam"> Guam </option>
                                    <option value="Guatemala"> Guatemala </option>
                                    <option value="Guernsey"> Guernsey </option>
                                    <option value="Guinea"> Guinea </option>
                                    <option value="Guinea - Bissau"> Guinea - Bissau </option>
                                    <option value="Guyana"> Guyana </option>
                                    <option value="Haiti"> Haiti </option>
                                    <option value="Honduras"> Honduras </option>
                                    <option value="Hong Kong"> Hong Kong </option>
                                    <option value="Hungary"> Hungary </option>
                                    <option value="Iceland"> Iceland </option>
                                    <option value="India"> India </option>
                                    <option value="Indonesia"> Indonesia </option>
                                    <option value="Iran"> Iran </option>
                                    <option value="Iraq"> Iraq </option>
                                    <option value="Ireland"> Ireland </option>
                                    <option value="Israel"> Israel </option>
                                    <option value="Italy"> Italy </option>
                                    <option value="Jamaica"> Jamaica </option>
                                    <option value="Japan"> Japan </option>
                                    <option value="Jersey"> Jersey </option>
                                    <option value="Jordan"> Jordan </option>
                                    <option value="Kazakhstan"> Kazakhstan </option>
                                    <option value="Kenya"> Kenya </option>
                                    <option value="Kiribati"> Kiribati </option>
                                    <option value="North Korea"> North Korea </option>
                                    <option value="South Korea"> South Korea </option>
                                    <option value="Kosovo"> Kosovo </option>
                                    <option value="Kuwait"> Kuwait </option>
                                    <option value="Kyrgyzstan"> Kyrgyzstan </option>
                                    <option value="Laos"> Laos </option>
                                    <option value="Latvia"> Latvia </option>
                                    <option value="Lebanon"> Lebanon </option>
                                    <option value="Lesotho"> Lesotho </option>
                                    <option value="Liberia"> Liberia </option>
                                    <option value="Libya"> Libya </option>
                                    <option value="Liechtenstein"> Liechtenstein </option>
                                    <option value="Lithuania"> Lithuania </option>
                                    <option value="Luxembourg"> Luxembourg </option>
                                    <option value="Macau"> Macau </option>
                                    <option value="Macedonia"> Macedonia </option>
                                    <option value="Madagascar"> Madagascar </option>
                                    <option value="Malawi"> Malawi </option>
                                    <option value="Malaysia"> Malaysia </option>
                                    <option value="Maldives"> Maldives </option>
                                    <option value="Mali"> Mali </option>
                                    <option value="Malta"> Malta </option>
                                    <option value="Marshall Islands"> Marshall Islands </option>
                                    <option value="Martinique"> Martinique </option>
                                    <option value="Mauritania"> Mauritania </option>
                                    <option value="Mauritius"> Mauritius </option>
                                    <option value="Mayotte"> Mayotte </option>
                                    <option value="Mexico"> Mexico </option>
                                    <option value="Micronesia"> Micronesia </option>
                                    <option value="Moldova"> Moldova </option>
                                    <option value="Monaco"> Monaco </option>
                                    <option value="Mongolia"> Mongolia </option>
                                    <option value="Montenegro"> Montenegro </option>
                                    <option value="Montserrat"> Montserrat </option>
                                    <option value="Morocco"> Morocco </option>
                                    <option value="Mozambique"> Mozambique </option>
                                    <option value="Myanmar"> Myanmar </option>
                                    <option value="Nagorno - Karabakh"> Nagorno - Karabakh </option>
                                    <option value="Namibia"> Namibia </option>
                                    <option value="Nauru"> Nauru </option>
                                    <option value="Nepal"> Nepal </option>
                                    <option value="Netherlands"> Netherlands </option>
                                    <option value="Netherlands Antilles"> Netherlands Antilles </option>
                                    <option value="New Caledonia"> New Caledonia </option>
                                    <option value="New Zealand"> New Zealand </option>
                                    <option value="Nicaragua"> Nicaragua </option>
                                    <option value="Niger"> Niger </option>
                                    <option value="Nigeria"> Nigeria </option>
                                    <option value="Niue"> Niue </option>
                                    <option value="Norfolk Island"> Norfolk Island </option>
                                    <option value="Turkish Republic of Northern Cyprus"> Turkish Republic of Northern
                                        Cyprus </option>
                                    <option value="Northern Mariana"> Northern Mariana </option>
                                    <option value="Norway"> Norway </option>
                                    <option value="Oman"> Oman </option>
                                    <option value="Pakistan"> Pakistan </option>
                                    <option value="Palau"> Palau </option>
                                    <option value="Palestine"> Palestine </option>
                                    <option value="Panama"> Panama </option>
                                    <option value="Papua New Guinea"> Papua New Guinea </option>
                                    <option value="Paraguay"> Paraguay </option>
                                    <option value="Peru"> Peru </option>
                                    <option value="Philippines"> Philippines </option>
                                    <option value="Pitcairn Islands"> Pitcairn Islands </option>
                                    <option value="Poland"> Poland </option>
                                    <option value="Portugal"> Portugal </option>
                                    <option value="Puerto Rico"> Puerto Rico </option>
                                    <option value="Qatar"> Qatar </option>
                                    <option value="Romania"> Romania </option>
                                    <option value="Russia"> Russia </option>
                                    <option value="Rwanda"> Rwanda </option>
                                    <option value="Saint Barthelemy"> Saint Barthelemy </option>
                                    <option value="Saint Helena"> Saint Helena </option>
                                    <option value="Saint Kitts and Nevis"> Saint Kitts and Nevis </option>
                                    <option value="Saint Lucia"> Saint Lucia </option>
                                    <option value="Saint Martin"> Saint Martin </option>
                                    <option value="Saint Pierre and Miquelon"> Saint Pierre and Miquelon </option>
                                    <option value="Saint Vincent and the Grenadines"> Saint Vincent and the Grenadines
                                    </option>
                                    <option value="Samoa"> Samoa </option>
                                    <option value="San Marino"> San Marino </option>
                                    <option value="Sao Tome and Principe"> Sao Tome and Principe </option>
                                    <option value="Saudi Arabia"> Saudi Arabia </option>
                                    <option value="Senegal"> Senegal </option>
                                    <option value="Serbia"> Serbia </option>
                                    <option value="Seychelles"> Seychelles </option>
                                    <option value="Sierra Leone"> Sierra Leone </option>
                                    <option value="Singapore"> Singapore </option>
                                    <option value="Slovakia"> Slovakia </option>
                                    <option value="Slovenia"> Slovenia </option>
                                    <option value="Solomon Islands"> Solomon Islands </option>
                                    <option value="Somalia"> Somalia </option>
                                    <option value="Somaliland"> Somaliland </option>
                                    <option value="South Africa"> South Africa </option>
                                    <option value="South Ossetia"> South Ossetia </option>
                                    <option value="Spain"> Spain </option>
                                    <option value="Sri Lanka"> Sri Lanka </option>
                                    <option value="Sudan"> Sudan </option>
                                    <option value="Suriname"> Suriname </option>
                                    <option value="Svalbard"> Svalbard </option>
                                    <option value="Swaziland"> Swaziland </option>
                                    <option value="Sweden"> Sweden </option>
                                    <option value="Switzerland"> Switzerland </option>
                                    <option value="Syria"> Syria </option>
                                    <option value="Taiwan"> Taiwan </option>
                                    <option value="Tajikistan"> Tajikistan </option>
                                    <option value="Tanzania"> Tanzania </option>
                                    <option value="Thailand"> Thailand </option>
                                    <option value="Timor - Leste"> Timor - Leste </option>
                                    <option value="Togo"> Togo </option>
                                    <option value="Tokelau"> Tokelau </option>
                                    <option value="Tonga"> Tonga </option>
                                    <option value="Transnistria Pridnestrovie"> Transnistria Pridnestrovie </option>
                                    <option value="Trinidad and Tobago"> Trinidad and Tobago </option>
                                    <option value="Tristan da Cunha"> Tristan da Cunha </option>
                                    <option value="Tunisia"> Tunisia </option>
                                    <option value="Turkey"> Turkey </option>
                                    <option value="Turkmenistan"> Turkmenistan </option>
                                    <option value="Turks and Caicos Islands"> Turks and Caicos Islands </option>
                                    <option value="Tuvalu"> Tuvalu </option>
                                    <option value="Uganda"> Uganda </option>
                                    <option value="Ukraine"> Ukraine </option>
                                    <option value="United Arab Emirates"> United Arab Emirates </option>
                                    <option value="United Kingdom"> United Kingdom </option>
                                    <option value="United States"> United States </option>
                                    <option value="Uruguay"> Uruguay </option>
                                    <option value="Uzbekistan"> Uzbekistan </option>
                                    <option value="Vanuatu"> Vanuatu </option>
                                    <option value="Vatican City"> Vatican City </option>
                                    <option value="Venezuela"> Venezuela </option>
                                    <option value="Vietnam"> Vietnam </option>
                                    <option value="British Virgin Islands"> British Virgin Islands </option>
                                    <option value="Isle of Man"> Isle of Man </option>
                                    <option value="US Virgin Islands"> US Virgin Islands </option>
                                    <option value="Wallis and Futuna"> Wallis and Futuna </option>
                                    <option value="Western Sahara"> Western Sahara </option>
                                    <option value="Yemen"> Yemen </option>
                                    <option value="Zambia"> Zambia </option>
                                    <option value="Zimbabwe"> Zimbabwe </option>
                                </select>
                            </div>
                        </div>
                        <!--description field-->
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="description" maxlength="100" name="description"
                                    value="{{userDetails.description}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="avatarChooser" class="col-sm-2 col-form-label">Choose Avatar</label>
                            {{#each defaultAvatars}}
                            <input type="radio" name="avatar" value="{{this}}" checked><img class="avatar" src="/images/defaultAvatars/{{this}}"
                                alt="avatar"><br>
                            {{/each}}
                        </div>
                        <div class="form-group">
                            <label for="avatarUpload" class="col-form-label">Upload your own</label>
                            <span>
                                <input class="form-control-file" type="file" id="avatarUpload" name="avatarUpload"
                                    accept=".jpg,.jpeg,.bmp,.png">
                            </span>
                        </div>
                        <br>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Submit" id="submitBtn">
                            <a class="btn btn-default " class="close" data-dismiss="modal">Cancel</a>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

    {{!-- The addArticle Modal --}}
    <div id="addArticleModal" class="fade modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-full">

            <div class="modal-content">
                <div class="modal-body">
                    <form action="/article/add" method="POST">
                        <div class="form-group">
                            <div class="container-fluid">
                                <input type="text" class="form-control" name="title" placeholder="Title...">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="container-fluid">
                                <textarea placeholder="Content..." rows="60" cols="95" class="articleEditor" name="content"
                                    id="addArticleContent"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Submit">
                            <a class="btn btn-default " class="close" data-dismiss="modal">Cancel</a>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

    {{!-- The login modal/popup --}}
    <div id="loginModal" class="fade modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <form action="/login" method="POST" id="loginForm">
                        <div class="form-group row">
                            <label for="username" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                        </div>
                        <div class="form-group row">

                            <label for="lname" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                        </div>

                        <br>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Submit">
                            <a class="btn btn-default " class="close" data-dismiss="modal">Cancel</a>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>


 

</body>



</html>