<div class="container pt-4 mb-4 text-center center-block">

    <h1>404 - File Not Found</h1>

    <img src="../../images/404-error.png" alt="" />
    <h3 class="text-center pt-4">
        The site configured at this address does not
        contain the requested file.
    </h3>
    <br/>
    <h5 class="text-center">
        If this is your site, make sure that the filename case matches the URL.<br>
        For root URLs (like <code>http://example.com/</code>) you must provide an
        <code>index.html</code> file.
    </h5>
</div>