<div class="container mt-4">

<div align="middle">
    <img src="images\icons\Feather.png">
    </div>

    <h1 class="text-center">About</h1>

    <p class="text-center"><strong>Quill is a minimalist community blogging platform designed to help you share what’s important and nothing else.</strong></p>

    <p class="text-center">Quill provides a place for groups to share content that is imprtnt to them. While other platforms are set up for only one author, Quill allows you to build a blog with others to share information both within and outside your community.</p>

 <p class="text-center">Do you have feedback? Email admin@quill.com</p>
</div>