<div class="container articleView">
    <div class="row">
        <div class="col-md-12">
            <h4>{{article.title}}</h4>
            <p style="font-size: 12px;">By {{article.username}}</p>

            {{{article.content}}}

            {{#if loggedInUser.articleOwner}}
            <br>
            <div>
                <a class="btn-sm btn-outline-danger" href="/article/delete/{{article.articleID}}">delete article</a>
                <a class="btn-sm" data-toggle="modal" data-target="#editArticle" href="#">edit</a>

            </div>
            {{/if}}
        </div>
    </div>
</div>

{{#if loggedInUser}}

<div class="container">
    <form action="/article/addComment?articleID={{article.articleID}}" method="POST" id="addComment">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" id="comment" name="comment"></textarea>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
</div>

{{/if}}

{{#if comments}}
{{#each comments}}

<div class="container mt-3 articleComments">
    <div class="media border p-3">
        <img src="{{this.avatar}}" alt="avatar" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h4>{{this.fname}} {{this.lname}} <small style="font-size: 8pt;"><i> said on {{this.datePosted}}</i></small></h4>
            <p>{{this.content}}</p>
        </div>
        {{#if isOwner}}
        <a class="btn-sm btn-outline-danger" href="/article/deleteComment/{{this.id}}">Delete</a>
        {{else if ../loggedInUser.articleOwner}}
        <a class="btn-sm btn-outline-danger" href="/article/deleteComment/{{this.id}}">Delete</a>
        {{else}}
        {{/if}}
    </div>
</div>
{{/each}}

{{/if}}

{{!-- The Edit Article Modal --}}
<div id="editArticle" class="fade modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-full">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Article</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <form action="/article/edit" method="POST" id="editArticle">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="{{article.articleID}}" name="id" required value="{{article.articleID}}"
                                hidden>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="title" class="col-sm-2 col-form-label">Title</label>
                        </div>
                        <div class="container-fluid">
                            <input type="text" class="form-control" id="article{{article.articleID}}title" name="title"
                                required value="{{article.title}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <label for="content" class="col-sm-2 col-form-label">Content</label>

                        </div>
                        <div class="container-fluid">
                            <textarea rows="4" cols="95" class="text form-control articleEditor" name="content">{{{article.content}}}</textarea>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Submit">
                        <a class="btn btn-default " class="close" data-dismiss="modal">Cancel</a>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>