<div class="flex-container main-article-table">
    <div class="table" style="flex-grow: 8">
        <table class="padded-table table">
            <col width="25%">
            {{!--
            <col width="25%"> --}}
            <col width="10%">
            <col width="65%">
            <tbody id="tableBody">
                {{#each articles}}
                <tr>
                    <td>
                        <p class="heading"><sub>title</sub></p>

                        <a href="/article/{{this.articleID}}" style="color: white ;"><p class="articleData">{{this.title}} <sub>{{this.Comment_Count}} </sub></p> </a>  
                    </td>
                    <td>
                        <p class="heading"> <sub>author</sub></p>
                        <p class="articleData">{{this.fname}} {{this.lname}}</p>
                    </td>
                    <td>
                            {{#if isOwner}}
                            <a href="/article/delete/{{this.articleID}}" style="color: #f2a596; float: right;"> &#10006; </a>
                            {{/if}}

                        <p class="heading"> <sub> {{this.datePosted}}</sub> </p>
                        <p class="articleData" style="font-size: 14pt;">{{{this.sample}}}</p>

                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>