<div class="col-md-12 m-tb-4">
    <img class="avatar profileAvatar" src="{{loggedInUser.avatar}}" alt="avatar">
    <h3 style="text-align: center;">{{loggedInUser.fname}} {{loggedInUser.lname}} </h3>
</div>

<div style="width: 50%; margin: auto;">
    <div class="profileTabs">
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Account')" id="defaultOpen">Account</button>
            <button class="tablinks" onclick="openCity(event, 'Articles')">Articles</button>
            <button class="tablinks" onclick="openCity(event, 'Comments')">Comments</button>
        </div>
    </div>

    <div id="Account" class="tabcontent">
        <div class="col-md-12 pt-4">
            <h5>About Me</h5>
            <p>{{loggedInUser.description}}</p>
            <hr />

            <p> <strong>Username:</strong> &emsp; &emsp; {{loggedInUser.username}} </p>
            <p> <strong>Full Name:</strong> &emsp; &emsp; {{loggedInUser.fname}} {{loggedInUser.lname}} </p>
            <p> <strong>Date of Birth:</strong> &emsp; {{loggedInUser.dob}} </p>
            <p> <strong>Country: </strong> &emsp; &emsp; &emsp; {{loggedInUser.country}} </p>
            <hr />
            <a class="btn-sm btn-primary" type="button" href="/profile/edit">Edit Account</a>
            <a class="btn-sm btn-danger" type="button" data-toggle="modal" data-target="#confirmAccountDelete" href="#">Delete
                Account</a>
        </div>

    </div>

    <div id="Articles" class="tabcontent">
        <table class="table table-hover">
            <tbody id="tableBody">
                {{#each articles}}
                <tr class="tableRow" style="cursor: pointer;">
                    <td>
                        <a href="/article/{{this.articleID}}" style="color: black;">
                            <strong>
                                <h5>{{this.title}}</h5>
                            </strong>
                        </a>
                        <span class="articleContent">{{{this.sample}}}</span>
                        <p style="font-size: 12px;"> posted on {{this.datePosted}}</p>

                        <a class="deleteBtn" data-toggle="modal" data-target="#confirmArticleDelete{{this.articleID}}"
                            href="#">delete</a>
                        <a class="editBtn" data-toggle="modal" data-target="#editArticle{{this.articleID}}" href="#">edit</a>
                    </td>
                </tr>
                {{!-- The Edit Article Modal --}}
                <div id="editArticle{{this.articleID}}" class="fade modal" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg modal-full">

                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Edit Article</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form action="/article/edit" method="POST" id="editArticle">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" id="{{this.articleID}}" name="id"
                                                required value="{{this.articleID}}" hidden>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <label for="title" class="col-sm-2 col-form-label">Title</label>
                                        </div>
                                        <div class="container-fluid">
                                            <input type="text" class="form-control" id="article{{this.articleID}}title"
                                                name="title" required value="{{this.title}}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <label for="content" class="col-sm-2 col-form-label">Content</label>

                                        </div>
                                        <div class="container-fluid">
                                            <textarea rows="4" cols="95" class="text form-control articleEditor" name="content">{{{this.content}}}</textarea>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <input class="btn btn-primary" type="submit" value="Submit">
                                        <a class="btn btn-default " class="close" data-dismiss="modal">Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- The Delete Article Confirmation Modal --}}
                <div id="confirmArticleDelete{{this.articleID}}" class="fade modal" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h5>Are you sure you want to delete this article?</h5>
                                <a class="btn-sm btn-danger" href="/article/delete/{{this.articleID}}?profilePage=true"> Yes</a>
                                <a class="btn-sm" data-dismiss="modal"> Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div id="Comments" class="tabcontent">
        {{#each comments}}
        <div class="col-md-12 mt-3">
            <div class="media border p-3">
                <div class="media-body">
                    <h6>{{this.username}} commented on <a href="/article/{{this.articleID}}">{{this.title}}</a>
                    </h6>
                    <p>{{this.content}}</p>
                </div>
                <a class="btn-sm btn-outline-danger" href="/article/deleteComment/{{this.commentID}}">Delete</a>
            </div>
        </div>
        {{/each}}
    </div>

</div>


<div id="confirmAccountDelete" class="fade modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Are you sure you want to delete your account?</h5>
                <a class="btn-sm btn-danger" href="/profile/deleteAccount"> Yes</a>
                <a class="btn-sm" href="/deleteAccount" data-dismiss="modal"> Cancel</a>
            </div>
        </div>
    </div>
</div>

<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>