<div class="container mt-4 text-center center-block">

    <h1>Ooops We've Spilt The Ink!</h1>

    <a href="/" style="color: black;"><h3>Return Home?</h3></a>

    <img src="../../images/500-error.png" class="img-responsive pt-4 mb-4" alt="" />
    <p class="text-center mb-4">{{title}}</p>
    <p class="text-center">{{error}} </p>

</div>