
/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #23272d;
    width: 15%;
    height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: #7F725B;
}

/* Create an active/current "tab button" class */
.tab button.active {
    color: #7F725B;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    /* border: 1px solid #ccc; */
    width: 85%;
    border-left: none;
    height: 300px;
}

