
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #edeff2ff;
}


/* Style the main navigation bar */

.topnav {
    position: relative;
    overflow: hidden;
    background-color: #23272d;
    border-bottom: 3px solid #7F725B;
    font-family: 'Libre Baskerville', serif;
    height: 80px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
}

.logo {
    height: 100px;
    width: 100px;
}

.menu {
    height: 50px;
    width: 60px;
}



/* Style the main article table for landing page */

.flex-container {
    display: flex;
    flex-flow: row wrap;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #edeff2ff;
}

table {
    border-collapse: separate;
    border-spacing: 2em;
    background-color: #edeff2ff;
}

.table .table {
    background-color: #edeff2ff;
}

.table td, .table th {
    border-top: 1px solid #cdd1d6 ;
}


p {
    font-family: 'Montserrat', sans-serif;
    color: grey;
    margin: 0;
}

.heading {
    size: smaller;
    color: darkgrey;
}

.plus {
    height: 50%;
    width: 50%;
}

.cross {
    height: 5%;
    width: 5%;
}



/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {

    .topnav a,
    .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}

/* The side navigation menu */
.sidenav {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
background-color: #111; /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 16px;
color: #818181;
display: block;
transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
transition: margin-left .5s;
padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* End of main page styling */

/* Style our avatar to be a nice circle */
.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    

}

.profileAvatar {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}


/*Style different sizes for our modals  */
.modal-full {
    min-width: 85%;
    margin: auto;
}

/* Style the Add Article Modal */
.modal-full .modal-content {
    min-height: 85vh;
    min-height: 20%;

}


/* Home Page Article Table  */

.articleData {
    font-size: 16pt;
}

.fadeBody {
    filter: brightness(50%) ;
}

/* Slowly fade in the articles in the home page article view  */

.main-article-table, .articleView {
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.articleComments {
    animation: fadein 4s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* Animate the icons  */



#postArticleBtn:hover {
    animation: rotate .5s;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);   
    }
    to {
        transform: rotate(180deg);  
    }
}

.logo:hover {
    animation: glow 1s;
}

#menuBtn:hover {
    animation: glow 1s;
}

@keyframes glow {
    from {
    
    }
    to {

        opacity: .2 ;  
    }
}

/* Style our buttons  */

.btn-primary {
    background-color: #23272d; 
    border-color: #23272d;
}

.btn-primary:hover {
    color: #fff;
    background-color: #7F725B;
    border-color: #7F725B;
}

.deleteBtn {
    color: black ;
    font-size: 10pt;
}

.editBtn {
    color: black ;
    font-size: 10pt; 
}

.deleteBtn:hover {
    color: red; 
}


.footer {
    bottom: 0;
    width: 500%;
    background-color: #23272d;
    color: white;
    text-align: center;
 }